<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidUIDevelopment">
        <activity
            android:name=".PendingIntent"
            android:exported="true"
            android:label="@string/title_activity_pending_intent"
            android:theme="@style/Theme.AndroidUIDevelopment" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">

        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:exported="true"
            android:label="Home Screen">
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true"
            android:label="Second Screen" />
        <activity
            android:name=".CustomRatingBar"
            android:exported="true"
            android:label="Rating Bar" />
        <activity
            android:name=".AppMenu"
            android:exported="true"
            android:label="App Menu" />
        <activity
            android:name=".LazyVerticalGrid"
            android:exported="true"
            android:label="Lazy Grid" />
    </application>

</manifest>